Repository MartaUlasen/star-wars-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint",
    "git add",
  ],
  "src/**/*.{css,scss}": [
    "stylelint",
    "git add",
  ],
}

Refactoring styles after adding stylelint
  src/components/app/app.scss
  src/components/character-card/character-card.scss
  src/components/film/film.scss
  src/components/home/home.scss
  src/components/swiper/swiper.scss
  src/styles/base.scss
  src/styles/buttons.scss
  src/styles/card.scss
Due: stylelint

Updates
  404.html
  asset-manifest.json
  index.html
  precache-manifest.398a497174f0c93783fbc88b1f6c7883.js
  precache-manifest.8539f754b9b88a228ea6e7369569313e.js
  service-worker.js
  static/css/2.92b75912.chunk.css
  static/css/2.92b75912.chunk.css.map
  static/css/2.acb72abc.chunk.css
  static/css/2.acb72abc.chunk.css.map
  static/css/main.c67c567c.chunk.css
  static/css/main.c67c567c.chunk.css.map
  static/css/main.f52a556b.chunk.css
  static/css/main.f52a556b.chunk.css.map
  static/js/2.8a60ee45.chunk.js
  static/js/2.8a60ee45.chunk.js.map
  static/js/2.c0431700.chunk.js
  static/js/2.c0431700.chunk.js.LICENSE.txt
  static/js/2.c0431700.chunk.js.map
  static/js/main.45d1ef00.chunk.js
  static/js/main.45d1ef00.chunk.js.map
  static/js/main.55972ecf.chunk.js
  static/js/main.55972ecf.chunk.js.map
  static/js/runtime-main.7e8a45e7.js
  static/js/runtime-main.7e8a45e7.js.map
  static/js/runtime~main.d18b7344.js
  static/js/runtime~main.d18b7344.js.map
Due: none

Updates
  404.html
  index.html
Due: none

Updates
  404.html
Due: none

Add homepage in package.json
  package.json
Due: none

Updates
  index.html
Due: none

Updates
  asset-manifest.json
  index.html
  precache-manifest.2589328eaa1a2363922e12f7562b6549.js
  service-worker.js
  static/js/main.45d1ef00.chunk.js
  static/js/main.45d1ef00.chunk.js.map
  static/js/main.8ddd55b4.chunk.js
  static/js/main.8ddd55b4.chunk.js.map
Due: none

Fix importing components
  package.json
  src/components/character/index.jsx
  src/components/film/index.jsx
  src/index.jsx
Due: eslint

Updates
  asset-manifest.json
  index.html
  precache-manifest.bb593c76762c6fa097d81dda1030cff4.js
  service-worker.js
  static/js/main.8ddd55b4.chunk.js
  static/js/main.8ddd55b4.chunk.js.map
  static/js/main.f8cde1d4.chunk.js
  static/js/main.f8cde1d4.chunk.js.map
Due: none

Modify homepage link in package.json
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  precache-manifest.b5831a6cd02e373f6b780cceb0838c50.js
  service-worker.js
  static/js/main.06a0b00b.chunk.js
  static/js/main.06a0b00b.chunk.js.map
  static/js/main.f8cde1d4.chunk.js
  static/js/main.f8cde1d4.chunk.js.map
Due: none

Modify fetch path for page of character
  src/actions/character.js
Due: eslint

Updates
  asset-manifest.json
  index.html
  precache-manifest.eabba9e95f17bbe793246747aa921e32.js
  service-worker.js
  static/js/main.06a0b00b.chunk.js
  static/js/main.06a0b00b.chunk.js.map
  static/js/main.2f0f7a47.chunk.js
  static/js/main.2f0f7a47.chunk.js.map
Due: none
